@use "../abstracts" as *; 

// Montserrat font
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;900&display=swap');

* {
    font-family: 'Montserrat', sans-serif;
    font-size: $f-md;
    line-height: 1.5rem;
}

a {
    @extend .text-primary-500;

    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

h1 {
    font-size: $f-2xl;
    line-height: 2rem;
}