$colors: (
    primary-light: (
        50: hsl(160, 100%, 98%),
        100: hsl(160, 100%, 95%),
        200: hsl(160, 100%, 90%),
        300: hsl(160, 100%, 80%),
        400: hsl(160, 100%, 50%),
        500: hsl(160, 100%, 55%),
        600: hsl(160, 100%, 50%),
        700: hsl(160, 100%, 30%),
        800: hsl(160, 100%, 20%),
        900: hsl(160, 100%, 10%)
    ),
    primary-dark: (
        50: hsl(160, 100%, 2%),
        100: hsl(160, 100%, 10%),
        200: hsl(160, 100%, 20%),
        300: hsl(160, 100%, 30%),
        400: hsl(160, 100%, 50%),
        500: hsl(160, 100%, 55%),
        600: hsl(160, 100%, 50%),
        700: hsl(160, 100%, 80%),
        800: hsl(160, 100%, 90%),
        900: hsl(160, 100%, 95%) 
    )
);

// Get dark-mode value then interpolate paletteName as primary || primary-dark

// Text color classes
$theme-mode: light;

@each $colorNumber, $color in map-get($map: $colors, $key: primary-#{$theme-mode}) {
    .text-primary-#{$colorNumber} {
        color: $color;
    }
}

@function get-color($color-palette-name, $key) {
    $color-palette: map-get($colors, "#{$color-palette-name}-#{$theme-mode}");
    $color: map-get($color-palette, $key);
    
    @return $color;
}