@use "../abstracts" as *;

.navbar {
    display: grid;
    padding: 2rem;

    .navbar-links {
        display: flex;
        color: black;
        white-space: nowrap;
        
        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .navbar-links > * {
        margin-right: 2rem;
    }
}

.navbar.navbar-centered {
    @media (min-width: $screen-sm) {
        grid-template-columns: repeat(3, 1fr);
    }
}