@use "../abstracts" as *;

.navbar {
    display: grid;
    padding: 2rem;

    .navbar-links {
        display: flex;
        color: black;
        
        a {
            color: black;
            text-decoration: none;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .navbar-links > * {
        margin-right: 2rem;
    }
}